*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom,#fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%,  #285AEB 90%);
    display: flex;
    justify-content: center;
    align-items: center;

}
#card{
position: relative;
   border-radius: 20px; 
    width: 300px;
    height: 420px;
    background-color: #fff;
    overflow: hidden;
   }
   #fs{
    position: absolute;
   width: 100%;
    height: 100%;
    display: none;
    background-size: cover;
    z-index: 9;
}

#progress{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(81, 79, 79);

}
#growth{
    width:0%;
    height: 100%;
    background-color: #fff;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}
   #stories{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dadada;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
}
   #stories::-webkit-scrollbar{
    display: none;
}
   .circle{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(to right bottom,#fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%,  #285AEB 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    
   

   }
   .circle1{
    height: 74px;
    width: 74px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 
   
   }
   .story{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
    overflow: hidden;
    
  
   }
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}